@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

:root{--white-color:#fff; --black-color:#222; --red-color:#b3002d; --blue-color:#00a3d9; --grey-dark-color:#777; --grey-medium-color:#9b9b8c; --grey-light-color:#dfdfd0; --padding: 16px;}

body{font-family: 'Noto Sans KR', sans-serif;}

header{background: var(--black-color); padding: var(--padding); display: flex; color:var(--white-color); justify-content: space-between;}
.fa-youtube{color: var(--red-color);}
.fa-search{padding-right: 12px;}

section.player{text-align: center; background: #000; position: sticky; top: 0;}

section.player video{width: 100%; height: 100%; max-width: 1000px;}
section.infoAndupNext{height: 3000px; padding: var(--padding); display: flex; justify-content: space-between;}
.info{flex-basis: 65%;}
.info .metadata{}
.info .metadata .hashtags{display: flex;}
.info .metadata .hashtags li{margin-right: 12px; color: var(--blue-color); font-size: 14px;}
.info .metadata .titleAndButton{display: flex; margin-top: 5px;}
.info .metadata .titleAndButton .title{line-height: 140%; margin-right: 20px; text-align: justify; overflow: hidden; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;} /* over~orient μ„ΈνΈ*/

.info .metadata .titleAndButton .title.addClick{line-height: 140%; margin-right: 20px; text-align: justify; overflow: hidden; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}


.info .metadata .titleAndButton .moreBtn{background: none; border: none; height: 100%; transition: transform 300ms ease-in-out; font-size: 24px;}
.info .metadata .titleAndButton .moreBtn.clicked{transform: rotate(180deg);}

.info .metadata .views{}
.info .metadata .views .view{color: var(--grey-medium-color); font-size: 12px;}
.upNext{flex-basis: 30%;}




footer{}